{
  "printWidth": 120,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "tailwindFunctions": ["clsx"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderMergeDuplicateImports": true,
  "bracketSameLine": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^@types$",
    "^@app/(.*)$",
    "^@widgets$",
    "^@features$",
    "^@entites$",
    "^@ui$",
    "^@hooks$",
    "^@shared$",
    "^[./]"
  ]
}
